---

---

<div class="space-y-3 text-[13px]">
  <section class="rounded border border-gray-200">
    <h2 class="text-md bg-gray-100 px-3 py-2 font-bold">基本情報</h2>
    <ul class="space-y-1 px-3 py-2">
      <li><a class="hover:underline" href="#">神椿TCGとは</a></li>
      <li><a class="hover:underline" href="#">🔰初心者向け情報</a></li>
      <li><a class="hover:underline" href="#">🔰よくある質問</a></li>
      <li><a class="hover:underline" href="#">用語集</a></li>
    </ul>
  </section>

  <section class="rounded border border-gray-200">
    <h2 class="text-md bg-gray-100 px-3 py-2 font-bold">カード情報</h2>
    <h3 class="text-md px-3 py-2 font-bold">製品情報</h3>
    <ul class="space-y-1 px-3 py-2">
      <li><a class="hover:underline" href="#">スターターデッキ</a></li>
      <li><a class="hover:underline" href="#">ブースターパック</a></li>
      <li><a class="hover:underline" href="#">EXTRA PACK</a></li>
      <li><a class="hover:underline" href="#">プロモパック</a></li>
      <li><a class="hover:underline" href="#">その他 特典カード</a></li>
    </ul>
    <h3 class="text-md px-3 py-2 font-bold">カードリスト</h3>
    <h3 class="text-md px-3 py-2 font-bold">エラッタ情報</h3>
  </section>

  <section class="rounded border border-gray-200">
    <h2 class="text-md bg-gray-100 px-3 py-2 font-bold">デッキ情報</h2>
    <h3 class="text-md px-3 py-2 font-bold">デッキ構築の基本</h3>
    <h3 class="text-md px-3 py-2 font-bold">おすすめデッキ</h3>
    <ul class="space-y-1 px-3 py-2">
      <li><a class="hover:underline" href="#">ビート型</a></li>
      <li><a class="hover:underline" href="#">魔力Ω型</a></li>
      <li><a class="hover:underline" href="#">LO型</a></li>
      <li><a class="hover:underline" href="#">その他</a></li>
    </ul>
    <h3 class="text-md px-3 py-2 font-bold">tips：環境について</h3>
    <ul class="space-y-1 px-3 py-2">
      <li><a class="hover:underline" href="#">ブースター1弾環境</a></li>
      <li><a class="hover:underline" href="#">ブースター2弾環境</a></li>
      <li><a class="hover:underline" href="#">ブースター3弾環境</a></li>
      <li><a class="hover:underline" href="#">ブースター4弾環境</a></li>
    </ul>
  </section>

  <section class="rounded border border-gray-200">
    <h2 class="text-md bg-gray-100 px-3 py-2 font-bold">公式ルール</h2>
    <ul class="space-y-1 px-3 py-2">
      <li><a class="hover:underline" href="#">総合ルール</a></li>
      <li><a class="hover:underline" href="#">フロアルール</a></li>
      <li><a class="hover:underline" href="#">よくあるルールの勘違い</a></li>
      <li><a class="hover:underline" href="#">裁定情報</a></li>
    </ul>
  </section>

  <section class="rounded border border-gray-200">
    <h2 class="text-md bg-gray-100 px-3 py-2 font-bold">イベント・大会情報</h2>
    <ul class="space-y-1 px-3 py-2">
      <li><a class="hover:underline" href="#">イベント</a></li>
      <li><a class="hover:underline" href="#">公式大会</a></li>
    </ul>
  </section>

  <section class="rounded border border-gray-200">
    <h2 class="text-md bg-gray-100 px-3 py-2 font-bold">非公式ツール</h2>
    <ul class="space-y-1 px-3 py-2">
      <li>
        <a class="hover:underline" href="#">非公式神椿TCGデッキメーカー</a>
      </li>
    </ul>
  </section>

  <section class="rounded border border-gray-200">
    <h2 class="text-md bg-gray-100 px-3 py-2 font-bold">公式リンク</h2>
    <ul class="space-y-1 px-3 py-2">
      <li>
        <a class="hover:underline" href="https://tcg.kamitsubaki.jp/"
          >公式サイト</a
        >
      </li>
      <li>
        <a class="hover:underline" href="https://x.com/kamitsubaki_tcg"
          >公式Xアカウント</a
        >
      </li>
    </ul>
  </section>
</div>
